body {
    background: white;
}

.assessment-app {
    background: rgb(176, 215, 227);
    padding: 20px;
    margin-top: 50px;
    font-size: small;
}

.card {
    margin: 20px;
    background-color: white;
    padding: 50px;
    color: black;
}

.post-list a:not(:hover) {
    text-decoration: none;
}

img {
    background-color: #F1EDE9;
    margin-top: 20px;
    padding: 20px;
    max-width: 600px;
}

.card > h5, h6, p {
    padding-top: 20px;
}

.backhome {
    padding: 20px;
}



