body {
    background: white;
}

.assessment-app {
    background: rgb(176, 215, 227);
    padding: 20px;
    margin-bottom: 30px;
    font-size: small;
}

.card {
    margin-top: 20px;
    background-color: white;
    padding: 50px;
    color: black;
}

.card > img {
    background-color: #F1EDE9;
    margin-top: 20px;
    padding: 20px;
    max-width: 600px;
}

.card > h5,p {
    padding: 20px;
    max-width: 70%;
}

.related-posts, .backhome {
    padding: 20px;
}

